

.TOPO{

width:100%;
height: 300px;
display: flex;

}

.img-fluid {
    width: 845px;
}

p {
    padding-top: 20px;
    text-align: justify;
}

.recuo { 
    text-indent:2em 
}

.footer{



width:100%;
height: 180px;
background:#808080;
margin-top: 50px;

display: inline-flex;
justify-content:space-around;

}

.footer-ul {
    padding-left: 0px;    

}

.footer-ul a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-shadow: black;
    font-weight: 700;
}

.footer-ul ul{
    list-style: none;
}

.footer-ul h2{
    font-size: medium;
    font-weight: 600;
}


